body {
    gap: 30px;
    margin: 0;
    padding: 0;
}


nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
}


nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #ffeb3b;
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}


.featured img {
    width: 400px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


.caption {
    text-align: center;
    font-style: italic;
}


.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.gallery img {
    width: 250px;
    transition: transform 0.3s;
}


.gallery img:hover {
    transform: scale(1.1);
}


.project-box {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


button {
    padding: 10px 15px;
    border: none;
    background: #0288d1;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background: #01579b;
}